@Keyframes hideSplashScreen{
    from{opacity:1;
    }
    to{opacity:0;
        display:none;
        visibility: hidden;
    }
}

@Keyframes notificationAnimation{
    0%{
        transform:none;
    }
    50%{transform:translateY(-5px) rotateY(360deg);
    }
    100%{transform:none;
    }
}

@keyframes appearBtnAnimation{
    from{
        transform:translateY(20px);
        opacity: 0;
    }

    to{
        transform:none;
        opacity: 1;
    }
}

@keyframes rotateCog{
from{
    transform:none;
}
to{
    transform:rotateZ(360deg);
}
}

@keyframes heartBeat{
    0%{color:white;
    transform: none;}
    50%{color:tomato;
    transform: scale(1.2);}
    100%{color:white;
    transform: none;}
}

@keyframes fadeIn_date{
    from{transform:translateY(30px);
    opacity:0;}
    to{transform:none;
    opacity:1;}
    }
    
@keyframes fadeIn_receive{
    from{transform:translateX(-30px);
    opacity:0;}
    to{transform:none;
    opacity:1;}
    }

@keyframes fadeIn_send{
    from{transform:translateX(30px);
    opacity:0;}
    to{transform:none;
    opacity:1;}
    }